/*General*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.shop{
    margin-top: 25px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,200px);
    gap: 30px;
    margin-bottom: 50px;
}

@media (max-width: 1000px){
    .shop{
        grid-template-columns: repeat(2,200px);
    }
}

@media (max-width: 500px){
    .shop{
        grid-template-columns: repeat(1,200px);
    }
}


/*_____________________________________________*/
.shop i{
    cursor: pointer;
}

.item{
    border: 2px solid #212529;
    border-radius: 4px;
}

.item img{
    width: 100%;
    border-radius: 2px 2px 0 0;
}

.item:hover{
    box-shadow: 1px 1px 1px 1px rgb(0,0,0);
}

.clothes-description{
    padding: 5px;
}

.clothes-price-quantity{
    padding:5px;
    align-items: center;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.clothes-quantity{
    margin-right: 5px;
    margin-top: 10px;
    width:50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bi-plus-square{
    color:green;
}

.bi-dash-square{
    color:red;
}

.nb-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nb-items i{
    margin: 3px;
}

.clothes-img img{
    align-items: center;
    width: 194px;
    height: 200px;
}

.like{
    justify-content: center;
}

.bi-heart{
    margin: 43%;
    color: red;
    font-size: 25px;
}

.bi-heart-fill{
    margin: 43%;
    color: red;
    font-size: 30px;
    box-shadow: #212529;
}
